/*
 Theme Name:   SFM
 Theme URI:    https://iexperto.ca
 Description:  SFM - Freelanceengine Child Theme
 Author:       iExperto
 Author URI:   http://iexperto.ca
 Template:     freelanceengine
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         Freelancing Website
 Text Domain:  freelanceengine
*/
img {
    max-width: 100%;
}

/* Menu */
.fre-menu-main li a {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}
.fre-login > li a {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}
.fre-login-wrap ul {
    display: flex;
    align-items: center;
padding-bottom: 0;
}
.fre-login-wrap ul li a {
    padding: 35px 0;
}
/* Menu */

#loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .8);
    z-index: 9999;
}
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*****===== header css =====*****/
/* header#employer-header-wrap.register-page-header.smf-header-wrapper  #main_header {
    background-color: #fff !important;
    border-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
header#employer-header-wrap.register-page-header #main_header .fre-menu-main li a, 
header#employer-header-wrap.register-page-header #main_header .desktop_phone a.smf-phone {
    color: #333 !important;
} */
.container.header-full-width {
    width: 100%;
}
.smf-header-wrapper .fre-header-wrap {
    background: transparent !important;
    border-bottom: 1px solid rgba(225, 255, 225, 0.2);
    transition: all 0.3s ease-in-out;
}
.fre-header-wrapper.smf-header-wrapper {
    height: 0px;
    margin-bottom: 0px;
    z-index: 9999;
}
a.smf-phone {
    color: #fff !important;
    font-family: "Open Sans" !important;
    font-size: 18px;
}
.mobile_phone {
    display: none;
}
.smf-notification i,
.smf-account-info span {
    color: #fff !important;
}
.fre-menu-main > li:hover:before {
    display: none !important;
}
.fre-menu-main > li:hover::after {
    display: none !important;
}
.fre-menu-top.smf-top {
    float: right;
}
.smf-acc .fre-login-wrap {
    padding: 0;
}
.fre-account-wrap.smf-acc a.log_user_btn {
    margin-left: 24px;
    padding: 34px 30px;
    background-color: #2094c6;
    margin-right: -15px;
}
/* .fre-account-wrap.smf-acc a.log_user_btn,
.fre-account.dropdown {
    margin-left: 24px;
    padding: 34px 30px;
    background-color: #2094c6;
    margin-right: -15px;
} */
.fre-account-wrap .smf-account-info span {
    display: none;
}
.fre-account-wrap .fre-account-info {
    padding-left: 20px;
}
.fre-account-wrap .fre-account-info i {
    display: none;
}
.fre-account-wrap .fre-notification {
    margin-left: 24px;
    margin-right: 0;
}
.fre-account-info img.def_user_pic {
    top: 10px;
    left: 22px;
    width: 16px;
    height: auto;
    border-radius: 0;
}
.fre-account.dropdown {
    padding: 25px 20px 25px 15px;
}
.fre-background {
    background-position: center;
}
.fre-account-info {
    color: #ffffff;
}
.ie_btn {
    background-color: #2094c6;
    color: #fff;
    -webkit-transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    transition: 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.ie_btn:hover {
    color: #fff !important;
    background-color: #333333 !important;
}
.hamburger-box {
    width: 30px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: #ffffff;
    width: 30px;
}
.hamburger-inner:after {
    width: 20px;
    right: 0;
}
.hamburger.is-active .hamburger-inner {
    width: 20px;
}
.smf-header-wrapper.sticky-header #main_header {
    background-color: #2d3e50 !important;
    border-color: #2d3e50;
}
.fre-menu-main li a,
.fre-login > li a {
    font-family: "Raleway";
    font-weight: 600;
    text-transform: inherit;
}
.fre-login img {
    width: 16px;
    margin-right: 10px;
}
#employer-header-wrap .smf-phone, 
#freelance-header-wrap .smf-phone {
    color: #333 !important;
}
#employer-header-wrap.sticky-header .smf-phone, 
#freelance-header-wrap.sticky-header .smf-phone {
    color: #fff !important;
}
#employer-header-wrap .fre-menu-main li a,
#freelance-header-wrap .fre-menu-main li a {
    color: #333;
}
#employer-header-wrap.sticky-header .fre-menu-main li a,
#freelance-header-wrap.sticky-header .fre-menu-main li a{
    color: #fff;
}
#employer-header-wrap .fre-notification.dropdown-toggle i, 
#freelance-header-wrap .fre-notification.dropdown-toggle i {
    color: #333 !important;
}
#employer-header-wrap.sticky-header .fre-notification.dropdown-toggle i, 
#freelance-header-wrap.sticky-header .fre-notification.dropdown-toggle i {
    color: #fff !important;
}
header#employer-header-wrap .fre-notification.dropdown-toggle i,
header#freelance-header-wrap .fre-notification.dropdown-toggle i {
    margin-top: 0;
}
header.header-transparent #main_header a.smf-phone,
header.header-transparent #main_header .fre-menu-main li a,
header.header-transparent #main_header .fre-notification.dropdown-toggle i {
    color: #fff !important;
}
#main_header .fre-menu-main li {
    padding-top: 0;
    padding-bottom: 0;
}
#main_header .fre-menu-main li a {
    padding-top: 32px;
    padding-bottom: 52px !important;
}
header #main_header .fre-menu-main li a:hover,
header #main_header .fre-login-wrap ul li:last-child a:hover {
    color: #1fbdbd !important
}
.smf-header-wrapper .fre-account-wrap .fre-notification {
    margin-left: 1px;
}
ul#menu-employer, ul#menu-freelance {
    margin-right: 23px;
}
.page-template-page-register .fre-login > li.reg-signup a {
    color: #fff;
}
/*****===== end header css =====*****/
/* banner heading css */
.fre-bg-content h1 {
    font-size: 54px;
    font-weight: 900;
    color: #fff;
    line-height: 1.2em;
    max-width: 700px;
    margin: 0 auto;
    letter-spacing: 3px;
}
/* footer css */
.sfm-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.sfm-col {
    flex: 1;
}
.footer-wrapper {
    background-image: url(/wp-content/uploads/2020/04/footer-min.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.footer-wrapper footer,
.footer-wrapper .copyright-wrapper {
    background: transparent;
}
.copyright-wrapper .text-copyright,
.fre-footer-logo img,
.copyright-wrapper .smf-social-links ul li a {
    opacity: 0.4;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.copyright-wrapper .smf-social-links ul li a:hover {
    opacity: 1;
}
footer h2.widgettitle {
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 800;
}
footer a,
footer,
footer h2,
footer *,
footer .widget ul li a {
    color: rgba(255, 255, 255, 0.7);
}
.smf-social-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.smf-social-links ul li {
    list-style: none;
    margin: 0px 10px;
}
.smf-social-links ul li a {
    border-radius: 50%;
    border: 1px solid #fffffff7;
    height: 35px;
    width: 35px;
    display: block;
    text-align: center;
    color: #ffffff;
}
.smf-social-links ul li a:hover {
    background-color: #1f8dbc;
    border-color: #1f8dbc;
}
.smf-social-links i {
    font-size: 14px;
    line-height: 35px;
}
.smf-social-links {
    display: inline-block;
    vertical-align: middle;
}
.smf-social-links,
.fre-footer-logo {
    display: inline-block;
    vertical-align: middle;
}
.footer-wrapper .copyright-wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-wrapper .copyright-wrapper .text-copyright {
    line-height: 40px;
    font-size: 13px;
}
.footer-wrapper footer {
    padding-top: 130px;
    margin-top: 0px;
    padding-bottom: 100px;
}
.smf-social-links {
    margin-left: 30px;
    margin-top: 10px;
}
.fre-footer-logo {
    height: 50px;
}
/* blog css */
.faq_bottom_section a:hover {
    background-color: #333333;
}
@media only screen and (max-width: 480px) {
    .sfm-feature-content .author-wrapper .a-left {
        margin-bottom: 20px;
    }
    .sfm-feature-content .author-wrapper {
        margin-top: 0px;
    }
}
/* blog css end */
/* home template css */
.banner-moreinfo img {
    max-width: 32px;
}
.bottom-btn-wrapper img {
    max-width: 15px;
    transform: rotate(-90deg);
}
.fre-background.sfm-top-banner {
    height: 100vh;
}
p.banner-content {
    color: #ffffff !important;
    max-width: 400px;
    margin: 20px auto 70px;
    line-height: 1.4;
    letter-spacing: 1px;
}
.banner-button {
    background: #1f8dbc;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    border: 2px solid #1f8dbc;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 54px;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
}
.banner-button.freeelancer {
    background: #ffffff;
    border: 2px solid #ffffff;
    color: #333333;
    margin-right: 30px !important;
}
.banner-button.freeelancer:hover {
    background: #1f8dbc;
    border: 2px solid #1f8dbc;
    color: #ffffff;
}
.banner-button.company:hover {
    background: #ffffff;
    border: 2px solid #ffffff;
    color: #333333;
}
.smf-social-links.top-social-link {
    display: block;
    position: absolute;
    bottom: 60px;
    left: 0;
}
.banner-moreinfo {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.banner-moreinfo p {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
.banner-moreinfo:hover img {
    animation-name: img_ani;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes img_ani {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}
.banner-bottom-coner {
    background-image: url(/wp-content/uploads/2020/04/left-arrow_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 100px;
}
.banner-bottom-coner p {
    color: #fff;
    margin-bottom: 0;
}
.bottom-btn-wrapper {
    position: absolute;
    top: 40px;
    right: 18px;
}
.sfm-heading {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.sfm-heading h1 {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 25px;
    margin-top: 0;
}
.title-divider {
    background-color: #87ceeb;
    width: 45px;
    height: 10px;
    text-align: center;
    margin: 0px auto;
}
.heading {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 20px;
}
.three-left {
    padding-left: 0px;
    margin-right: 3%;
}
.three-right {
    max-width: 580px;
    margin-left: 3%;
}
.left-img img {
    width: 100%;
}
.stwo-right h1.heading {
    margin-left: -110px;
    line-height: 1.2;
    margin-bottom: 40px;
}
.title-divider.left {
    text-align: left;
    margin: 0;
}
p.content {
    margin-top: 20px;
}
.cus-btn a {
    border-bottom: 2px solid #00b0ff;
    padding-bottom: 2px;
}
.cus-btn a:hover {
    padding-left: 5px;
}
.stwo-right.two h1.heading {
    margin-left: 0px;
    font-size: 54px;
    margin-right: -150px;
    font-weight: 900;
}
.stwo-right.two p.content {
    max-width: 450px;
}
.stwo-right.two {
    padding-left: 25%;
}
/* blog post css */
.sfm-blog-content a {
    color: #333333;
}
.sfm-blog-post-wrap {
    margin-top: 30px;
}
.date {
    color: #999999;
    font-family: "Open Sans";
}
.sfm-blog-post-items {
    margin-bottom: 30px;
}
.sfm-blog-content {
    max-width: 350px;
}
.sfm-blog-content h3 {
    line-height: 1.2;
    font-weight: 600;
}
.sfm-blog-thumbnail {
    max-width: 360px;
}
.sfm-blog-thumbnail img {
    width: 100%;
    max-height: 251px;
}
.sfm-feature-content .author-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0;
    text-align: left;
    color: #2094c6;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.a-right a {
    margin-left: 20px;
    color: #333333;
}
.blog-featured {
    margin-top: 100px;
    margin-bottom: 80px;
}
.sfm-feature-content a {
    color: #05051f;
}
.sfm-feature-content h3 {
    font-weight: 600;
}
footer .widget ul li a:hover {
    color: #fff;
}
footer .widget {
    margin-bottom: 0px;
}
footer h2.widgettitle:after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #2094c6;
    position: absolute;
    bottom: 0;
    left: 0px;
}
footer .widget ul li a {
    font-family: "Open Sans", sans-serif;
}

/* ============================
  inner page banner section CSS
=============================*/
.ie-banner {
    position: relative;
    padding: 86px 0 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ie-banner .ie-banner-content {
    padding: 155px 0px;
    width: 100%;
    max-width: 810px;
}
.ie-banner .ie-banner-title {
    font-weight: 900;
    font-size: 54px;
    color: #fff;
    margin-bottom: 30px;
}
.ie-banner .ie-banner-description {
    font-size: 18px;
    color: #fff;
}
.ie-banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 200px 200px rgba(0, 0, 0, 0.4);
}
/* ==============================
    inner page banner section CSS
==============================*/

/* ==============================
    404 eooro page CSS
==============================*/
.sfm-error-wrap .error-title,
.sfm-error-wrap .error-title-one,
.sfm-error-wrap .error-pragraph {
    color: #333;
}
.sfm-error-wrap .error-pragraph {
    font-size: 18px;
}
/* ==============================
    404 eooro page CSS
==============================*/

/*==========================================
                    media: max-width: 1199px
==========================================*/
@media only screen and (max-width: 1199px) {
    .smf-header-wrapper .sfm-header-notifi {
        display: block;
        margin: 26px 15px;
    }
    .smf-header-wrapper .sfm-header-notifi i {
        display: block !important;
    }
    .smf-header-wrapper.active .smf-acc.dropdown {
        display: none !important;
    }
    .sfm-header-profile {
        margin-right: 15px;
    }
    .sfm-header-profile.open::after {
        border-width: 0 9px 9px 9px;
        right: 13px;
        bottom: 10px;
    }
    .sfm-header-profile.open::before {
        display: none;
    }
    .sfm-header-profile.open ul.dropdown-menu {
        display: block !important;
        position: absolute;
        top: 63px;
        margin: 0 !important;
    }
    .sfm-header-profile.open ul.dropdown-menu li {
        display: block;
        padding: 8px 0;
    }
    .fre-account-wrap.smf-acc.open:after {border-width: 0 9px 9px 9px;bottom: 10px;left: 60px;}
    .fre-account-wrap.smf-acc.open:before {
        display: none;
    }
    .fre-account-wrap.smf-acc.open ul.list_notify.dropdown-menu.dropdown-menu-notifi {
        display: block;
        min-width: 280px;
        width: 100%;
        left: auto;
        margin: auto;
        float: none;
        padding: 0;
        top: 63px;
    }
    .fre-account-wrap.smf-acc.open ul.list_notify.dropdown-menu.dropdown-menu-notifi li > a.fre-notify-wrap {
        padding: 0;
        font-size: 12px;
    }
    .smf-header-wrapper .fre-account-wrap.smf-acc .fre-login-wrap {
        padding-right: 30px;
    }
    .smf-header-wrapper.active .fre-account-wrap.smf-acc .fre-login-wrap {
        display: none;
    }

    .ie-banner .ie-banner-content {
        padding: 60px 0px;
    }
    .ie-banner .ie-banner-title {
        font-size: 45px;
    }
    .header-transparent .hamburger-inner, 
    .header-transparent .hamburger-inner:after, 
    .header-transparent .hamburger-inner:before {
        background-color: #fff !important;
    }
    .smf-header-wrapper.active .fre-account-wrap.smf-acc {
        width: auto !important;
    }
    #main_header .fre-menu-main li a {
        padding-top: 10px;
        padding-bottom: 30px !important;
        width: 100%;
    }
    .fre-menu-main {
        margin-bottom: 20px;
    }
    .fre-header-wrapper.active .fre-menu-main>li.menu-msg>a i {
        display: inline-block;
    }
    .header-light .hamburger--elastic.is-active .hamburger-inner, 
    .header-light .hamburger--elastic.is-active .hamburger-inner:after, 
    .header-light .hamburger--elastic.is-active .hamburger-inner:before {
        background-color: #fff !important;
    }
    header.header-light.active #main_header a.smf-phone {
        color: #fff !important;
    }
    header.header-light.active #main_header .fre-menu-main li a {
        color: #fff;
    }
}

/*=========================================
                    media: max-width: 991px
=========================================*/
@media only screen and (max-width: 991px) {
    #blog .sfm-blog-thumbnail img {
        height: auto;
        max-height: inherit;
    }
    .banner-button.freeelancer,
    .banner-button.company {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .fre-bg-content h1,
    .sfm-heading h1 {
        font-size: 36px;
    }
}

/*==========================================
                    media: max-width: 767px
==========================================*/
@media only screen and (max-width: 767px) {
    .footer-wrapper footer {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .fre-background.sfm-top-banner {
        height: 650px;
    }
    .smf-social-links.top-social-link {
        margin-left: 0px;
        bottom: 30px;
    }
    #blog .sfm-blog-post-items {
        width: 100%;
    }
    .sfm-blog-content h3 {
        font-size: 18px;
    }
    .sfm-col {
        flex: 0;
        margin-bottom: 30px;
        flex-basis: 33.33%;
    }
    .sfm-col-one {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .smf-col-one .smf-social-links {
        margin-left: 0px !important;
    }
    .sfm-col-one .smf-social-links {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .sfm-col-one .smf-social-links ul {
        flex-wrap: nowrap;
    }
    .copyright-wrapper .text-copyright {
        text-align: center;
    }
}

/*==========================================================
                    media: min-width: 768 & max-width: 991px
==========================================================*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sfm-col-one .smf-social-links {
        margin-left: 0px;
        padding-top: 15px;
    }
    .sfm-col-one .smf-social-links li:first-child {
        margin-left: 0px;
    }
    .sfm-col-one {
        width: 45% !important;
    }
    .sfm-col-two {
        width: 55% !important;
    }
}

/*=========================================
                    media: max-width: 575px
=========================================*/
@media only screen and (max-width: 575px) {
    .ie-banner .ie-banner-content {
        padding: 30px 0px 50px;
    }
    .ie-banner .ie-banner-title {
        font-size: 35px;
    }
}

/*=========================================
                    media: max-width: 480px
=========================================*/
@media only screen and (max-width: 480px) {
    .banner-button.freeelancer,
    .banner-button.company {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
        padding-bottom: 0;
        width: 80%;
        display: block;
        font-size: 14px;
        margin-bottom: 20px;
        max-width: 225px;
    }
    .sfm-feature-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sfm-blog-thumbnail {
        max-width: 100%;
    }
    .sfm-blog-content {
        max-width: 90%;
    }
    .sfm-blog-thumbnail img {
        width: 100%;
    }
    .sfm-feature-content h3 {
        font-size: 20px;
    }
    .sfm-feature-content .author-wrapper .a-left,
    .sfm-feature-content .author-wrapper .a-right {
        width: 100%;
    }
    /* unnessary */
    .sfm-top-banner .fre-bg-content {
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
        position: absolute;
        top: 320px;
    }
    .sfm-col {
        flex: 0;
        margin-bottom: 30px;
        flex-basis: 50%;
    }
    .sfm-top-banner h1 {
        text-align: left;
        font-size: 38px;
        max-width: 250px;
        margin-left: 0;
        margin-top: 50px;
    }
    .sfm-heading h1 {
        text-align: left;
        margin-bottom: 20px;
        font-size: 28px;
    }
    .sfm-top-banner p.banner-content {
        max-width: 250px;
        margin: 25px 0 30px 0;
    }
    .smf-social-links.top-social-link {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 0;
        margin-left: 0;
    }
    .smf-social-links ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
    .smf-social-links ul li {
        list-style: none;
        margin: 0px 10px;
        width: 100%;
        margin-bottom: 20px;
    }
    .fre-background.sfm-top-banner {
        height: 870px;
    }
    .title-divider {
        text-align: left;
        margin: 0px;
    }
    .stwo-right h1.heading {
        margin-left: 0;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .stwo-right.two {
        padding-left: 0%;
    }
    .stwo-right.two h1.heading {
        margin-left: 0px;
        font-size: 34px;
        margin-right: 0px;
    }
    body.admin-bar .fre-header-wrap {
        border: none;
    }
}
@media only screen and (min-width: 481px) and (max-width: 560px) {
    .banner-button.freeelancer,
    .banner-button.company {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*==========================================
                    media: max-width: 1199px
==========================================*/
@media only screen and (max-width: 1199px) {
    .smf-header-wrapper.active .fre-account-tablet .fre-account-info {
        display: none;
    }
    .smf-header-wrapper.active .fre-account-wrap.smf-acc a.log_user_btn,
    .smf-header-wrapper.active .fre-account.dropdown {
        margin-left: 0px;
    }
    .smf-header-wrapper.active #main_header {
        background-color: #2c3e50 !important;
    }
    .smf-header-wrapper.active .container.header-full-width {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .smf-header-wrapper.active .fre-account-wrap.smf-acc {
        text-align: center;
        width: 100%;
        order: 2;
        margin-left: 0px !important;
    }
    .smf-header-wrapper.active .fre-menu-top.smf-top {
        float: none;
        text-align: center;
        width: 100%;
    }
    .smf-header-wrapper.active .fre-site-logo {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .fre-header-wrapper .fre-menu-main > li,
    .smf-header-wrapper .fre-account-wrap.smf-acc {
        text-align: left !important;
    }
    .smf-header-wrapper .fre-account-wrap.smf-acc .dropdown-menu {
        padding: 7px 25px;
        text-align: center;
        width: auto;
        min-width: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .desktop_phone {
        display: none !important;
    }
    .mobile_phone {
        display: block;
        padding-top: 10px;
        padding-bottom: 0;
    }
    .fre-hamburger {
        margin-top: 25px;
    }
    .fre-notification,
    .smf-header-wrapper .fre-account-wrap.smf-acc span,
    .smf-header-wrapper .fre-account-wrap.smf-acc i,
    .smf-header-wrapper .fre-account-wrap.smf-acc .dropdown-menu {
        display: none;
    }
    .smf-header-wrapper.active .fre-account-wrap.smf-acc,
    .fre-account-info {
        display: block;
    }
    .smf-header-wrapper .fre-account-wrap.smf-acc {
        display: block;
        position: absolute;
        top: 0;
        right: 50px;
        height: auto;
        display: flex;
        flex-flow: row-reverse;
    }
    .fre-account.dropdown {
        padding: 0;
        margin-left: 0;
    }
    .fre-account-info,
    .fre-account-wrap.smf-acc a.log_user_btn {
        padding: 0;
        width: 45px;
        height: 63px;
        position: relative;
        margin-left: 0;
    }
    .fre-login {
        padding-top: 0;
    }
    .fre-account-info img,
    .fre-login img {
        top: inherit;
        left: 50%;
        bottom: 10px;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        position: absolute;
        margin: 0;
    }
    .fre-account-wrap.smf-acc a.log_user_btn span {
        display: none;
    }
    .fre-login > li + li {
        margin-left: 35px;
    }
    .fre-login > li + li a {
        position: relative;
        top: -5px;
    }
}

/*=========================================
                    media: max-width: 480px
=========================================*/
@media only screen and (max-width: 480px) {
    .fre-hamburger {
        margin-top: 15px;
    }
    .smf-social-links.top-social-link {
        left: 7px;
    }
}

/*=========================================
                    media: max-width: 370px
=========================================*/
@media only screen and (max-width: 370px) {
    .fre-login > li + li {
        margin-left: 0;
    }
    .fre-login > li + li a {
        left: 18px;
    }
}
#archive-section {
    margin-top: 70px;
}
/* common css with header & footer */







/***====== contact css =======***/

.contact_section {
    padding-bottom: 70px;
  }
  .contact_section .contact_top_section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contact_section .contact_top_section h3 {
    font-size: 24px;
    color: #05051f;
    margin-bottom: 35px;
    font-weight: 700;
    font-family: "Open Sans";
  }
  .contact_section .contact_top_section p {
    font-size: 16px;
    max-width: 810px;
    margin: auto;
  }
  .contact_content .contact_form{
    margin-bottom: 25px;
  }
  .contact_content .contact_form .wpcf7-form input:not(.wpcf7-submit),
  .contact_content .contact_form .wpcf7-form textarea {
    width: 100%;
    background-color: #f9f9f9;
    padding: 15px 30px;
    border: none;
    margin-bottom: 20px;
  }
  .contact_content .contact_form .wpcf7-form textarea {
    height: 260px;
  }
  .contact_content .contact_form .wpcf7-form input::-webkit-input-placeholder {
    color: #8f8f8f;
  }
  .contact_content .contact_form .wpcf7-form input::-moz-placeholder {
    color: #8f8f8f;
  }
  .contact_content .contact_form .wpcf7-form textarea::-webkit-input-placeholder {
    color: #8f8f8f;
  }
  .contact_content .contact_form .wpcf7-form textarea::-moz-placeholder {
    color: #8f8f8f;
  }
  .contact_content .contact_form .wpcf7-form .wpcf7-submit {
    background-color: #2094c6;
    padding: 15px 25px;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 500;
  }
  .contact_content .bar_row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px 40px 30px;
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
  }
  .contact_content .bar_row .left_info {
    width: 75%;
  }
  .contact_content .bar_row .left_info h3 {
    font-size: 18px;
    color: #05051f;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .contact_content .bar_row .left_info p,
  .contact_content .bar_row .left_info a {
    font-size: 12px;
    color: #05051f;
    line-height: 20px;
    margin-bottom: 0;
  }
  .contact_content .bar_row .icon {
    width: 25%;
    text-align: center;
    position: relative;
  }
  .contact_content .bar_row .icon img {
    max-width: 60px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .contact_content .bar_row .email_address a {
    color: #e0e0e0;
  }
  
  @media only screen and (max-width: 1199px) {
    .contact_section .contact_top_section {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .contact_section {
      padding-bottom: 50px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .contact_section .contact_top_section h3 {
      line-height: 34px;
    }
    .contact_section .contact_top_section {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 50px;
    }
  }


  /***====== end contact css =======***/